Processing Copy and Paste from THES Rankings
========================

Simple processing of the text files that result from copying and pasting the tables from the THES rankings. There are two tabs in the table, one gives rankings alongside some demographic information. The other other gives the elements that make up the score.

Each tab was copy-pasted into a text file (THES_2016-17_ranks.txt and THES_2016-17_scores.txt) which have some idiosyncratic formatting. The goal here is to bring them into a single csv file that has been normalised to a standardised set of countries and ultimately to GRID IDs.

In [3]:
import os.path
input_data_folder = 'data/input/'

In [4]:
thes = []
filepath = os.path.join(input_data_folder, 'THES_2016-17_ranks.txt' )
with open(filepath, encoding = 'utf-8-sig') as f:
    lines = f.readlines()

In [5]:
for n in range(0, len(lines), 3):
    uni = {}
    uni['rank'], uni['name'] = lines[n].split('	')
    #uni['name'] = uni['name'].rstrip('\n')
    uni['country'] = lines[n+1]
    uni['student_fte'], uni['students_per_staff'], \
    uni['foreign_students_%'], uni['gender_ratio'] = lines[n+2].split('	')
    for k in uni.keys():
        uni[k] = uni[k].rstrip('\n').rstrip('%')
    if uni['foreign_students_%'] != 'n/a':
        uni['foreign_students_%'] = int(uni['foreign_students_%'])
    uni['student_fte'] = int(''.join(uni['student_fte'].split(',')))
    uni['students_per_staff'] = float(uni['students_per_staff'])
    if uni['gender_ratio'] != 'n/a':
        uni['female_%'] = int(uni['gender_ratio'].split(':')[0].rstrip(' '))
    thes.append(uni)

Check the length and the that the first and last entry are correct

In [6]:
len(thes)

1103

In [7]:
thes[0]

{'country': 'United Kingdom',
 'female_%': 46,
 'foreign_students_%': 38,
 'gender_ratio': '46 : 54',
 'name': 'University of Oxford',
 'rank': '1',
 'student_fte': 20409,
 'students_per_staff': 11.2}

In [8]:
thes[1102]

{'country': 'Iran',
 'female_%': 55,
 'foreign_students_%': 'n/a',
 'gender_ratio': '55 : 45',
 'name': 'University of Zanjan',
 'rank': '1001+',
 'student_fte': 10305,
 'students_per_staff': 25.8}

Now to load in the other file and load the other variables. Some of the overall scores are given as ranges so will leave those as strings for the moment.

In [9]:
filepath = os.path.join(input_data_folder, 'THES_2016-17_scores.txt')
with open(filepath, encoding = 'utf-8-sig') as f:
    lines = f.readlines()
    
for n in range(0, len(lines), 3):
    uni = {}
    rank, name = lines[n].split('	')
    uni['overall_score'], uni['teaching_score'], uni['research_score'], \
      uni['citations'], uni['industry_income'], uni['international_outlook'] = lines[n+2].split('	')
        
    for k in uni.keys():
        try:
            uni[k] = float(uni[k])
        except ValueError:
            print(n, name, k, uni[k])
    thes_line = thes[int(n/3)]
    try:
        assert rank == thes_line['rank']
        assert name.rstrip('\n') == thes_line['name']
    except AssertionError:
        print(uni['rank'], thes_line['rank'])
        print(uni['name'], thes_line['name'])
        
    thes_line.update(uni)

600 Aalborg University
 overall_score 48.3–51.6
603 University of Antwerp
 overall_score 48.3–51.6
606 University of Barcelona
 overall_score 48.3–51.6
609 University of Bergen
 overall_score 48.3–51.6
612 University of Bologna
 overall_score 48.3–51.6
615 Brandeis University
 overall_score 48.3–51.6
618 University of Calgary
 overall_score 48.3–51.6
621 Chalmers University of Technology
 overall_score 48.3–51.6
624 University of Cincinnati
 overall_score 48.3–51.6
627 Copenhagen Business School
 overall_score 48.3–51.6
630 University of Delaware
 overall_score 48.3–51.6
633 University of Duisburg-Essen
 overall_score 48.3–51.6
636 Florida State University
 overall_score 48.3–51.6
639 University of Fribourg
 overall_score 48.3–51.6
642 George Washington University
 overall_score 48.3–51.6
645 University of Hamburg
 overall_score 48.3–51.6
648 University of Hawai’i at Mānoa
 overall_score 48.3–51.6
651 Hebrew University of Jerusalem
 overall_score 48.3–51.6
654 University of Iceland
 overall_score 48.3–51.6
657 University of Iowa
 overall_score 48.3–51.6
660 James Cook University
 overall_score 48.3–51.6
663 University of Kiel
 overall_score 48.3–51.6
666 King Abdulaziz University
 overall_score 48.3–51.6
669 University of Konstanz
 overall_score 48.3–51.6
672 Korea University
 overall_score 48.3–51.6
675 National University of Ireland, Galway
 overall_score 48.3–51.6
678 Osaka University
 overall_score 48.3–51.6
681 University of Otago
 overall_score 48.3–51.6
684 University of Ottawa
 overall_score 48.3–51.6
687 Paris Diderot University – Paris 7
 overall_score 48.3–51.6
690 University of Passau
 overall_score 48.3–51.6
693 University of Potsdam
 overall_score 48.3–51.6
696 Queen’s University Belfast
 overall_score 48.3–51.6
699 Queensland University of Technology
 overall_score 48.3–51.6
702 University of Reading
 overall_score 48.3–51.6
705 Royal College of Surgeons in Ireland
 overall_score 48.3–51.6
708 Ruhr University Bochum
 overall_score 48.3–51.6
711 University of South Australia
 overall_score 48.3–51.6
714 St George’s, University of London
 overall_score 48.3–51.6
717 University of Stuttgart
 overall_score 48.3–51.6
720 University of Tampere
 overall_score 48.3–51.6
723 Technical University of Darmstadt
 overall_score 48.3–51.6
726 University of Technology, Sydney
 overall_score 48.3–51.6
729 Tel Aviv University
 overall_score 48.3–51.6
732 University of Texas at Dallas
 overall_score 48.3–51.6
735 Tohoku University
 overall_score 48.3–51.6
738 Ulsan National Institute of Science and Technology
 overall_score 48.3–51.6
741 University College Dublin
 overall_score 48.3–51.6
744 University of Utah
 overall_score 48.3–51.6
747 Vita-Salute San Raffaele University
 overall_score 48.3–51.6
750 University of Waterloo
 overall_score 48.3–51.6
753 Western University
 overall_score 48.3–51.6
756 Yonsei University (Seoul campus)
 overall_score 48.3–51.6
759 Aix-Marseille University
 overall_score 45.2–48.2
762 University of Bath
 overall_score 45.2–48.2
765 University of Bayreuth
 overall_score 45.2–48.2
768 Bielefeld University
 overall_score 45.2–48.2
771 University of Bremen
 overall_score 45.2–48.2
774 University at Buffalo
 overall_score 45.2–48.2
777 Clark University
 overall_score 45.2–48.2
780 University of Colorado Denver
 overall_score 45.2–48.2
783 Colorado School of Mines
 overall_score 45.2–48.2
786 Dalhousie University
 overall_score 45.2–48.2
789 École des Ponts ParisTech
 overall_score 45.2–48.2
792 University of Essex
 overall_score 45.2–48.2
795 Goethe University Frankfurt
 overall_score 45.2–48.2
798 Griffith University
 overall_score 45.2–48.2
801 University of Hohenheim
 overall_score 45.2–48.2
804 University of Illinois at Chicago
 overall_score 45.2–48.2
807 Indian Institute of Science
 overall_score 45.2–48.2
810 University of Innsbruck
 overall_score 45.2–48.2
813 Johannes Gutenberg University of Mainz
 overall_score 45.2–48.2
816 Laval University
 overall_score 45.2–48.2
819 Macquarie University
 overall_score 45.2–48.2
822 University of Marburg
 overall_score 45.2–48.2
825 Medical University of Vienna
 overall_score 45.2–48.2
828 Moscow Institute of Physics and Technology
 overall_score 45.2–48.2
831 University of Newcastle
 overall_score 45.2–48.2
834 North Carolina State University
 overall_score 45.2–48.2
837 Norwegian University of Science and Technology
 overall_score 45.2–48.2
840 University of Oregon
 overall_score 45.2–48.2
843 Oregon Health and Science University
 overall_score 45.2–48.2
846 University of Oulu
 overall_score 45.2–48.2
849 Queen’s University
 overall_score 45.2–48.2
852 University of São Paulo
 overall_score 45.2–48.2
855 Simon Fraser University
 overall_score 45.2–48.2
858 University of Southern Denmark
 overall_score 45.2–48.2
861 University of South Florida
 overall_score 45.2–48.2
864 Stony Brook University
 overall_score 45.2–48.2
867 University of Surrey
 overall_score 45.2–48.2
870 Swansea University
 overall_score 45.2–48.2
873 Swedish University of Agricultural Sciences
 overall_score 45.2–48.2
876 Syracuse University
 overall_score 45.2–48.2
879 Tokyo Institute of Technology
 overall_score 45.2–48.2
882 University of Trento
 overall_score 45.2–48.2
885 Umeå University
 overall_score 45.2–48.2
888 Wake Forest University
 overall_score 45.2–48.2
891 William & Mary
 overall_score 45.2–48.2
894 University of the Witwatersrand
 overall_score 45.2–48.2
897 University of Wollongong
 overall_score 45.2–48.2
900 Aberystwyth University
 overall_score 42.4–45.1
903 University of Alaska Fairbanks
 overall_score 42.4–45.1
906 Anglia Ruskin University
 overall_score 42.4–45.1
909 Babol Noshirvani University of Technology
 overall_score 42.4–45.1
912 Bangor University
 overall_score 42.4–45.1
915 Birkbeck, University of London
 overall_score 42.4–45.1
918 University of Bordeaux
 overall_score 42.4–45.1
921 Boston College
 overall_score 42.4–45.1
924 Brighton and Sussex Medical School
 overall_score 42.4–45.1
927 Charles Darwin University
 overall_score 42.4–45.1
930 University of Connecticut
 overall_score 42.4–45.1
933 Deakin University
 overall_score 42.4–45.1
936 University of Denver
 overall_score 42.4–45.1
939 University of Eastern Finland
 overall_score 42.4–45.1
942 Flinders University
 overall_score 42.4–45.1
945 Free University of Bozen-Bolzano
 overall_score 42.4–45.1
948 George Mason University
 overall_score 42.4–45.1
951 Goldsmiths, University of London
 overall_score 42.4–45.1
954 Grenoble Alpes University
 overall_score 42.4–45.1
957 University of Houston
 overall_score 42.4–45.1
960 Iowa State University
 overall_score 42.4–45.1
963 University of Kent
 overall_score 42.4–45.1
966 Khalifa University of Science and Technology
 overall_score 42.4–45.1
969 Koç University
 overall_score 42.4–45.1
972 University of Liège
 overall_score 42.4–45.1
975 Loughborough University
 overall_score 42.4–45.1
978 Medical University of Graz
 overall_score 42.4–45.1
981 University of Milan
 overall_score 42.4–45.1
984 Nagoya University
 overall_score 42.4–45.1
987 National Tsing Hua University
 overall_score 42.4–45.1
990 University of Navarra
 overall_score 42.4–45.1
993 University of Nebraska-Lincoln
 overall_score 42.4–45.1
996 Oregon State University
 overall_score 42.4–45.1
999 Polytechnic University of Milan
 overall_score 42.4–45.1
1002 Rensselaer Polytechnic Institute
 overall_score 42.4–45.1
1005 Rush University
 overall_score 42.4–45.1
1008 Sapienza University of Rome
 overall_score 42.4–45.1
1011 University of Stirling
 overall_score 42.4–45.1
1014 University of Tartu
 overall_score 42.4–45.1
1017 University of Tasmania
 overall_score 42.4–45.1
1020 TU Dortmund University
 overall_score 42.4–45.1
1023 Technion Israel Institute of Technology
 overall_score 42.4–45.1
1026 University of Tennessee, Knoxville
 overall_score 42.4–45.1
1029 Tomsk Polytechnic University
 overall_score 42.4–45.1
1032 University of Victoria
 overall_score 42.4–45.1
1035 Victoria University
 overall_score 42.4–45.1
1038 Vienna University of Technology
 overall_score 42.4–45.1
1041 Virginia Polytechnic Institute and State University
 overall_score 42.4–45.1
1044 Vrije Universiteit Brussel
 overall_score 42.4–45.1
1047 Washington State University
 overall_score 42.4–45.1
1050 University of Alabama
 overall_score 40.0–42.3
1053 American University
 overall_score 40.0–42.3
1056 Aston University
 overall_score 40.0–42.3
1059 Autonomous University of Madrid
 overall_score 40.0–42.3
1062 Brunel University London
 overall_score 40.0–42.3
1065 University of Canberra
 overall_score 40.0–42.3
1068 University of Canterbury
 overall_score 40.0–42.3
1071 City, University of London
 overall_score 40.0–42.3
1074 Colorado State University
 overall_score 40.0–42.3
1077 University of Côte d’Azur
 overall_score 40.0–42.3
1080 University of Crete
 overall_score 40.0–42.3
1083 Curtin University
 overall_score 40.0–42.3
1086 Cyprus University of Technology
 overall_score 40.0–42.3
1089 Drexel University
 overall_score 40.0–42.3
1092 Federal University of Toulouse Midi-Pyrénées
 overall_score 40.0–42.3
1095 University of Georgia
 overall_score 40.0–42.3
1098 Georgia State University
 overall_score 40.0–42.3
1101 Gwangju Institute of Science and Technology
 overall_score 40.0–42.3
1104 Hanyang University
 overall_score 40.0–42.3
1107 Heriot-Watt University
 overall_score 40.0–42.3
1110 Higher School of Economics
 overall_score 40.0–42.3
1113 Indian Institute of Technology Bombay
 overall_score 40.0–42.3
1116 Justus Liebig University Giessen
 overall_score 40.0–42.3
1119 University of Kansas
 overall_score 40.0–42.3
1122 Kyushu University
 overall_score 40.0–42.3
1125 La Trobe University
 overall_score 40.0–42.3
1128 Leibniz University of Hanover
 overall_score 40.0–42.3
1131 Linköping University
 overall_score 40.0–42.3
1134 University of Macau
 overall_score 40.0–42.3
1137 University of Malaya
 overall_score 40.0–42.3
1140 Montpellier University
 overall_score 40.0–42.3
1143 Örebro University
 overall_score 40.0–42.3
1146 University of Padua
 overall_score 40.0–42.3
1149 University of Pavia
 overall_score 40.0–42.3
1152 University of Pisa
 overall_score 40.0–42.3
1155 Royal Veterinary College
 overall_score 40.0–42.3
1158 Sabancı University
 overall_score 40.0–42.3
1161 University of Salerno
 overall_score 40.0–42.3
1164 University of South Carolina
 overall_score 40.0–42.3
1167 Stellenbosch University
 overall_score 40.0–42.3
1170 University of Strasbourg
 overall_score 40.0–42.3
1173 Sun Yat-sen University
 overall_score 40.0–42.3
1176 Temple University
 overall_score 40.0–42.3
1179 University of Trieste
 overall_score 40.0–42.3
1182 Tulane University
 overall_score 40.0–42.3
1185 University of Turku
 overall_score 40.0–42.3
1188 University College Cork
 overall_score 40.0–42.3
1191 University of Vermont
 overall_score 40.0–42.3
1194 Université de Versailles Saint-Quentin-en-Yvelines
 overall_score 40.0–42.3
1197 University of Waikato
 overall_score 40.0–42.3
1200 Wayne State University
 overall_score 40.0–42.3
1203 York University
 overall_score 40.0–42.3
1206 Auckland University of Technology
 overall_score 35.0–39.9
1209 University of Bari Aldo Moro
 overall_score 35.0–39.9
1212 Bar-Ilan University
 overall_score 35.0–39.9
1215 University of Bergamo
 overall_score 35.0–39.9
1218 Bilkent University
 overall_score 35.0–39.9
1221 Binghamton University, State University of New York
 overall_score 35.0–39.9
1224 Boğaziçi University
 overall_score 35.0–39.9
1227 University of Brescia
 overall_score 35.0–39.9
1230 University of Calabria
 overall_score 35.0–39.9
1233 CentraleSupélec
 overall_score 35.0–39.9
1236 Charles University in Prague
 overall_score 35.0–39.9
1239 Chung-Ang University
 overall_score 35.0–39.9
1242 Claude Bernard University Lyon 1
 overall_score 35.0–39.9
1245 University of Cyprus
 overall_score 35.0–39.9
1248 Dublin City University
 overall_score 35.0–39.9
1251 University of Florence
 overall_score 35.0–39.9
1254 Florida International University
 overall_score 35.0–39.9
1257 University of Genoa
 overall_score 35.0–39.9
1260 University of Graz
 overall_score 35.0–39.9
1263 Graz University of Technology
 overall_score 35.0–39.9
1266 University of Greifswald
 overall_score 35.0–39.9
1269 Hamburg University of Technology
 overall_score 35.0–39.9
1272 Hasselt University
 overall_score 35.0–39.9
1275 Hofstra University
 overall_score 35.0–39.9
1278 Hokkaido University
 overall_score 35.0–39.9
1281 Hong Kong Baptist University
 overall_score 35.0–39.9
1284 Huazhong University of Science and Technology
 overall_score 35.0–39.9
1287 University of Hull
 overall_score 35.0–39.9
1290 Jordan University of Science and Technology
 overall_score 35.0–39.9
1293 University of Jyväskylä
 overall_score 35.0–39.9
1296 University of Kaiserslautern
 overall_score 35.0–39.9
1299 Kazan Federal University
 overall_score 35.0–39.9
1302 University of KwaZulu-Natal
 overall_score 35.0–39.9
1305 Kyung Hee University
 overall_score 35.0–39.9
1308 University of Lille
 overall_score 35.0–39.9
1311 Louisiana State University
 overall_score 35.0–39.9
1314 Makerere University
 overall_score 35.0–39.9
1317 University of Manitoba
 overall_score 35.0–39.9
1320 Marche Polytechnic University
 overall_score 35.0–39.9
1323 University of Maryland, Baltimore County
 overall_score 35.0–39.9
1326 Massey University
 overall_score 35.0–39.9
1329 Maynooth University
 overall_score 35.0–39.9
1332 Middlesex University
 overall_score 35.0–39.9
1335 University of Milan-Bicocca
 overall_score 35.0–39.9
1338 University of Missouri
 overall_score 35.0–39.9
1341 University of Modena and Reggio Emilia
 overall_score 35.0–39.9
1344 University of Montana
 overall_score 35.0–39.9
1347 Murdoch University
 overall_score 35.0–39.9
1350 University of Naples Federico II
 overall_score 35.0–39.9
1353 National Chiao Tung University
 overall_score 35.0–39.9
1356 National Research Nuclear University MEPhI
 overall_score 35.0–39.9
1359 National Taiwan University of Science and Technology (Taiwan Tech)
 overall_score 35.0–39.9
1362 University of Nebraska Medical Center
 overall_score 35.0–39.9
1365 University of Neuchâtel
 overall_score 35.0–39.9
1368 Northern Arizona University
 overall_score 35.0–39.9
1371 Norwegian University of Life Sciences
 overall_score 35.0–39.9
1374 Novosibirsk State University
 overall_score 35.0–39.9
1377 University of Oklahoma
 overall_score 35.0–39.9
1380 The Open University
 overall_score 35.0–39.9
1383 Oxford Brookes University
 overall_score 35.0–39.9
1386 University of Parma
 overall_score 35.0–39.9
1389 Plymouth University
 overall_score 35.0–39.9
1392 Polytechnic University of Catalonia
 overall_score 35.0–39.9
1395 Polytechnic University of Turin
 overall_score 35.0–39.9
1398 Qatar University
 overall_score 35.0–39.9
1401 Quaid-i-azam University
 overall_score 35.0–39.9
1404 Reykjavík University
 overall_score 35.0–39.9
1407 RMIT University
 overall_score 35.0–39.9
1410 University of Rome II – Tor Vergata
 overall_score 35.0–39.9
1413 University of Rome III
 overall_score 35.0–39.9
1416 Roskilde University
 overall_score 35.0–39.9
1419 University of Rovira i Virgili
 overall_score 35.0–39.9
1422 University of St Gallen
 overall_score 35.0–39.9
1425 Saint Louis University
 overall_score 35.0–39.9
1428 Saint Petersburg State University
 overall_score 35.0–39.9
1431 San Diego State University
 overall_score 35.0–39.9
1434 University of Saskatchewan
 overall_score 35.0–39.9
1437 Sciences Po
 overall_score 35.0–39.9
1440 Semmelweis University
 overall_score 35.0–39.9
1443 University of Siegen
 overall_score 35.0–39.9
1446 University of Siena
 overall_score 35.0–39.9
1449 Soas, University of London
 overall_score 35.0–39.9
1452 Southern Cross University
 overall_score 35.0–39.9
1455 State University of Campinas
 overall_score 35.0–39.9
1458 University of Strathclyde
 overall_score 35.0–39.9
1461 Swinburne University of Technology
 overall_score 35.0–39.9
1464 University of Texas at San Antonio
 overall_score 35.0–39.9
1467 Tokyo Medical and Dental University (TMDU)
 overall_score 35.0–39.9
1470 Tongji University
 overall_score 35.0–39.9
1473 University of Tsukuba
 overall_score 35.0–39.9
1476 University of Tulsa
 overall_score 35.0–39.9
1479 University of Turin
 overall_score 35.0–39.9
1482 UiT The Arctic University of Norway
 overall_score 35.0–39.9
1485 University of Urbino Carlo Bo
 overall_score 35.0–39.9
1488 Verona University
 overall_score 35.0–39.9
1491 Victoria University of Wellington
 overall_score 35.0–39.9
1494 Western Sydney University
 overall_score 35.0–39.9
1497 University of Wisconsin-Milwaukee
 overall_score 35.0–39.9
1500 Wuhan University
 overall_score 35.0–39.9
1503 Xiamen University
 overall_score 35.0–39.9
1506 Alfaisal University
 overall_score 30.7–34.9
1509 American University of Beirut
 overall_score 30.7–34.9
1512 Aristotle University of Thessaloniki
 overall_score 30.7–34.9
1515 University of Arkansas
 overall_score 30.7–34.9
1518 Athens University of Economics and Business
 overall_score 30.7–34.9
1521 Australian Catholic University
 overall_score 30.7–34.9
1524 University of Aveiro
 overall_score 30.7–34.9
1527 Blaise Pascal University
 overall_score 30.7–34.9
1530 Bond University
 overall_score 30.7–34.9
1533 Université Bourgogne Franche-Comté (UBFC)
 overall_score 30.7–34.9
1536 Ca’ Foscari University of Venice
 overall_score 30.7–34.9
1539 Carleton University
 overall_score 30.7–34.9
1542 University of Catania
 overall_score 30.7–34.9
1545 Catholic University of the Sacred Heart
 overall_score 30.7–34.9
1548 Central China Normal University
 overall_score 30.7–34.9
1551 Central Queensland University
 overall_score 30.7–34.9
1554 China Medical University, Taiwan
 overall_score 30.7–34.9
1557 University of Coimbra
 overall_score 30.7–34.9
1560 Complutense University of Madrid
 overall_score 30.7–34.9
1563 Concordia University
 overall_score 30.7–34.9
1566 Creighton University
 overall_score 30.7–34.9
1569 Diego Portales University
 overall_score 30.7–34.9
1572 East China Normal University
 overall_score 30.7–34.9
1575 Edith Cowan University
 overall_score 30.7–34.9
1578 Ewha Womans University
 overall_score 30.7–34.9
1581 Federal University of São Paulo (UNIFESP)
 overall_score 30.7–34.9
1584 Federico Santa María Technical University
 overall_score 30.7–34.9
1587 University of Ferrara
 overall_score 30.7–34.9
1590 Fujita Health University
 overall_score 30.7–34.9
1593 University of Granada
 overall_score 30.7–34.9
1596 Harbin Institute of Technology
 overall_score 30.7–34.9
1599 University of Hertfordshire
 overall_score 30.7–34.9
1602 Indian Institute of Technology Delhi
 overall_score 30.7–34.9
1605 Indian Institute of Technology Kanpur
 overall_score 30.7–34.9
1608 Indian Institute of Technology Kharagpur
 overall_score 30.7–34.9
1611 Indian Institute of Technology Roorkee
 overall_score 30.7–34.9
1614 University of Ioannina
 overall_score 30.7–34.9
1617 ITMO University
 overall_score 30.7–34.9
1620 Johannes Kepler University of Linz
 overall_score 30.7–34.9
1623 Keele University
 overall_score 30.7–34.9
1626 Kent State University
 overall_score 30.7–34.9
1629 King Fahd University of Petroleum and Minerals
 overall_score 30.7–34.9
1632 King Saud University
 overall_score 30.7–34.9
1635 Konkuk University
 overall_score 30.7–34.9
1638 Lappeenranta University of Technology
 overall_score 30.7–34.9
1641 Lehigh University
 overall_score 30.7–34.9
1644 University of Limerick
 overall_score 30.7–34.9
1647 Lincoln University
 overall_score 30.7–34.9
1650 University of Lisbon
 overall_score 30.7–34.9
1653 Liverpool John Moores University
 overall_score 30.7–34.9
1656 University of Lorraine
 overall_score 30.7–34.9
1659 Mahidol University
 overall_score 30.7–34.9
1662 Masaryk University
 overall_score 30.7–34.9
1665 Memorial University of Newfoundland
 overall_score 30.7–34.9
1668 Missouri University of Science and Technology
 overall_score 30.7–34.9
1671 Montana State University
 overall_score 30.7–34.9

1791 United Arab Emirates University
 overall_score 30.7–34.9
1794 University of Valencia
 overall_score 30.7–34.9
1797 University of Warsaw
 overall_score 30.7–34.9
1800 University of the West of Scotland
 overall_score 30.7–34.9
1803 Xi’an Jiaotong University
 overall_score 30.7–34.9
1806 University of the Aegean
 overall_score 21.5–30.6
1809 AGH University of Science and Technology
 overall_score 21.5–30.6
1812 The University of Aizu
 overall_score 21.5–30.6
1815 University of Alcalá
 overall_score 21.5–30.6
1818 University of Algarve
 overall_score 21.5–30.6
1821 Aligarh Muslim University
 overall_score 21.5–30.6
1824 American University in Cairo
 overall_score 21.5–30.6
1827 American University of Sharjah
 overall_score 21.5–30.6
1830 Amirkabir University of Technology
 overall_score 21.5–30.6
1833 University of the Andes, Colombia
 overall_score 21.5–30.6
1836 Atılım University
 overall_score 21.5–30.6
1839 Auburn University
 overall_score 21.5–30.6
1842 Babeş-Bolyai University
 overall_score 21.5–30.6
1845 Banaras Hindu University
 overall_score 21.5–30.6
1848 University of the Basque Country
 overall_score 21.5–30.6
1851 Baylor University
 overall_score 21.5–30.6
1854 University of Bedfordshire
 overall_score 21.5–30.6
1857 Beihang University
 overall_score 21.5–30.6
1860 Beijing Institute of Technology
 overall_score 21.5–30.6
1863 University of Beira Interior
 overall_score 21.5–30.6
1866 Ben-Gurion University of the Negev
 overall_score 21.5–30.6
1869 Beni-Suef University
 overall_score 21.5–30.6
1872 Bournemouth University
 overall_score 21.5–30.6
1875 University of Bradford
 overall_score 21.5–30.6
1878 University of Brighton
 overall_score 21.5–30.6
1881 University of Cagliari
 overall_score 21.5–30.6
1884 Capital Medical University
 overall_score 21.5–30.6
1887 Carlos III University of Madrid
 overall_score 21.5–30.6
1890 University of Central Lancashire
 overall_score 21.5–30.6
1893 Central South University
 overall_score 21.5–30.6
1896 Chang Gung University
 overall_score 21.5–30.6
1899 University of Chemistry and Technology, Prague
 overall_score 21.5–30.6
1902 Chiba University
 overall_score 21.5–30.6
1905 University of Chile
 overall_score 21.5–30.6
1908 China Agricultural University
 overall_score 21.5–30.6
1911 China University of Geosciences, Beijing
 overall_score 21.5–30.6
1914 China University of Geosciences, Wuhan
 overall_score 21.5–30.6
1917 Chonbuk National University
 overall_score 21.5–30.6
1920 Chonnam National University
 overall_score 21.5–30.6
1923 Chulalongkorn University
 overall_score 21.5–30.6
1926 Comenius University in Bratislava
 overall_score 21.5–30.6
1929 COMSATS Institute of Information Technology
 overall_score 21.5–30.6
1932 Coventry University
 overall_score 21.5–30.6
1935 Czech Technical University in Prague
 overall_score 21.5–30.6
1938 Dalian University of Technology
 overall_score 21.5–30.6
1941 University of Dayton
 overall_score 21.5–30.6
1944 University of Delhi
 overall_score 21.5–30.6
1947 De Montfort University
 overall_score 21.5–30.6
1950 Dublin Institute of Technology
 overall_score 21.5–30.6
1953 East China University of Science and Technology
 overall_score 21.5–30.6
1956 Eastern Mediterranean University
 overall_score 21.5–30.6
1959 University of East London
 overall_score 21.5–30.6
1962 École Centrale de Lyon
 overall_score 21.5–30.6
1965 École Normale Supérieure de Cachan
 overall_score 21.5–30.6
1968 Edinburgh Napier University
 overall_score 21.5–30.6
1971 Embry-Riddle Aeronautical University
 overall_score 21.5–30.6
1974 Eötvös Loránd University
 overall_score 21.5–30.6
1977 Federal University of ABC (UFABC)
 overall_score 21.5–30.6
1980 Federal University of Itajubá
 overall_score 21.5–30.6
1983 Federal University of Minas Gerais
 overall_score 21.5–30.6
1986 Federal University of Rio de Janeiro
 overall_score 21.5–30.6
1989 Federal University of Rio Grande do Sul
 overall_score 21.5–30.6
1992 Florida Atlantic University
 overall_score 21.5–30.6
1995 Florida Institute of Technology
 overall_score 21.5–30.6
1998 Fuzhou University
 overall_score 21.5–30.6
2001 Gebze Technical University
 overall_score 21.5–30.6
2004 Glasgow Caledonian University
 overall_score 21.5–30.6
2007 University of Greenwich
 overall_score 21.5–30.6
2010 Hacettepe University
 overall_score 21.5–30.6
2013 University of Haifa
 overall_score 21.5–30.6
2016 Hiroshima University
 overall_score 21.5–30.6
2019 Huazhong Agricultural University
 overall_score 21.5–30.6
2022 University of Huddersfield
 overall_score 21.5–30.6
2025 Hunan University
 overall_score 21.5–30.6
2028 Indian Institute of Technology Guwahati
 overall_score 21.5–30.6
2031 Indian Institute of Technology Madras
 overall_score 21.5–30.6
2034 Indian Institute of Technology (Indian School of Mines) Dhanbad
 overall_score 21.5–30.6
2037 Inha University
 overall_score 21.5–30.6
2040 Iran University of Science and Technology
 overall_score 21.5–30.6
2043 ISCTE-University Institute of Lisbon
 overall_score 21.5–30.6
2046 Isfahan University of Technology
 overall_score 21.5–30.6
2049 Istanbul Technical University
 overall_score 21.5–30.6
2052 Jadavpur University
 overall_score 21.5–30.6
2055 University of Jaén
 overall_score 21.5–30.6
2058 Jagiellonian University
 overall_score 21.5–30.6
2061 University of Johannesburg
 overall_score 21.5–30.6
2064 Juntendo University
 overall_score 21.5–30.6
2067 Kagawa University
 overall_score 21.5–30.6
2070 Kanazawa University
 overall_score 21.5–30.6
2073 Kansas State University
 overall_score 21.5–30.6
2076 Kaohsiung Medical University
 overall_score 21.5–30.6
2079 Universiti Kebangsaan Malaysia
 overall_score 21.5–30.6
2082 Keio University
 overall_score 21.5–30.6
2085 King Juan Carlos University
 overall_score 21.5–30.6
2088 King Mongkut’s University of Technology Thonburi
 overall_score 21.5–30.6
2091 Kingston University
 overall_score 21.5–30.6
2094 K.N. Toosi University of Technology
 overall_score 21.5–30.6
2097 Kobe University
 overall_score 21.5–30.6
2100 Kochi University
 overall_score 21.5–30.6
2103 Kumamoto University
 overall_score 21.5–30.6
2106 Kuwait University
 overall_score 21.5–30.6
2109 Kyungpook National University
 overall_score 21.5–30.6
2112 University of La Laguna
 overall_score 21.5–30.6
2115 Leeds Beckett University
 overall_score 21.5–30.6
2118 University of Lincoln
 overall_score 21.5–30.6
2121 University of Ljubljana
 overall_score 21.5–30.6
2124 Manchester Metropolitan University
 overall_score 21.5–30.6
2127 University of Maribor
 overall_score 21.5–30.6
2130 Marquette University
 overall_score 21.5–30.6
2133 Middle East Technical University
 overall_score 21.5–30.6
2136 University of Minho
 overall_score 21.5–30.6
2139 Mississippi State University
 overall_score 21.5–30.6
2142 Monterrey Institute of Technology and Higher Education
 overall_score 21.5–30.6
2145 University of Murcia
 overall_score 21.5–30.6
2148 Nagoya City University
 overall_score 21.5–30.6
2151 Nanjing Agricultural University
 overall_score 21.5–30.6
2154 Nanjing Medical University
 overall_score 21.5–30.6
2157 Nanjing Normal University
 overall_score 21.5–30.6
2160 Nanjing Tech University
 overall_score 21.5–30.6
2163 National Autonomous University of Mexico
 overall_score 21.5–30.6
2166 National Central University
 overall_score 21.5–30.6
2169 National Chengchi University
 overall_score 21.5–30.6
2172 National Institute of Applied Sciences of Lyon (INSA Lyon)
 overall_score 21.5–30.6
2175 National Institute of Technology Rourkela
 overall_score 21.5–30.6
2178 National University of Science and Technology (MISiS)
 overall_score 21.5–30.6
2181 National University of Sciences and Technology
 overall_score 21.5–30.6
2184 National Sun Yat-Sen University
 overall_score 21.5–30.6
2187 National Yang-Ming University
 overall_score 21.5–30.6
2190 New Mexico State University
 overall_score 21.5–30.6
2193 University of North Carolina at Greensboro
 overall_score 21.5–30.6
2196 Northeast Normal University
 overall_score 21.5–30.6
2199 University of Northern British Columbia (UNBC)
 overall_score 21.5–30.6
2202 Northwestern Polytechnical University
 overall_score 21.5–30.6
2205 Nottingham Trent University
 overall_score 21.5–30.6
2208 Okayama University
 overall_score 21.5–30.6
2211 Old Dominion University
 overall_score 21.5–30.6
2214 Osaka City University
 overall_score 21.5–30.6
2217 Otto von Guericke University of Magdeburg
 overall_score 21.5–30.6
2220 University of Oviedo
 overall_score 21.5–30.6
2223 Palacký University Olomouc
 overall_score 21.5–30.6
2226 Panjab University
 overall_score 21.5–30.6
2229 University of Patras
 overall_score 21.5–30.6
2232 University of Pécs
 overall_score 21.5–30.6
2235 Peter the Great St Petersburg Polytechnic University
 overall_score 21.5–30.6
2238 University of the Philippines
 overall_score 21.5–30.6
2241 Pontifical Catholic University of Peru
 overall_score 21.5–30.6
2244 Pontifical Catholic University of Rio de Janeiro (PUC-Rio)
 overall_score 21.5–30.6
2247 Portland State University
 overall_score 21.5–30.6
2250 University of Pretoria
 overall_score 21.5–30.6
2253 Pusan National University
 overall_score 21.5–30.6
2256 Universiti Putra Malaysia
 overall_score 21.5–30.6
2259 University of Regina
 overall_score 21.5–30.6
2262 Rochester Institute of Technology
 overall_score 21.5–30.6
2265 University of Roehampton
 overall_score 21.5–30.6
2268 Universiti Sains Malaysia
 overall_score 21.5–30.6
2271 University of Salamanca
 overall_score 21.5–30.6
2274 University of Salford
 overall_score 21.5–30.6
2277 Samara State Aerospace University
 overall_score 21.5–30.6
2280 University of Santiago de Compostela
 overall_score 21.5–30.6
2283 São Paulo State University (UNESP)
 overall_score 21.5–30.6
2286 Savitribai Phule Pune University
 overall_score 21.5–30.6
2289 University of Science and Technology Beijing
 overall_score 21.5–30.6
2292 University of Seoul
 overall_score 21.5–30.6
2295 University of Seville
 overall_score 21.5–30.6
2298 Shanghai University
 overall_score 21.5–30.6
2301 Shantou University
 overall_score 21.5–30.6
2304 Sharif University of Technology
 overall_score 21.5–30.6
2307 Sichuan University
 overall_score 21.5–30.6
2310 Sogang University
 overall_score 21.5–30.6
2313 University of Southern Queensland
 overall_score 21.5–30.6
2316 University of South Wales
 overall_score 21.5–30.6
2319 Suranaree University of Technology
 overall_score 21.5–30.6
2322 University of Szeged
 overall_score 21.5–30.6
2325 University of Tabriz
 overall_score 21.5–30.6
2328 Taipei Medical University
 overall_score 21.5–30.6
2331 Tallinn University of Technology
 overall_score 21.5–30.6
2334 Technical University of Madrid
 overall_score 21.5–30.6
2337 University of Technology of Compiègne
 overall_score 21.5–30.6
2340 Teesside University
 overall_score 21.5–30.6
2343 University of Tehran
 overall_score 21.5–30.6
2346 Tehran University of Medical Sciences
 overall_score 21.5–30.6
2349 Universiti Teknologi Malaysia
 overall_score 21.5–30.6
2352 Universiti Teknologi Petronas
 overall_score 21.5–30.6
2355 University of Texas at El Paso
 overall_score 21.5–30.6
2358 Tezpur University
 overall_score 21.5–30.6
2361 Tokyo University of Agriculture and Technology
 overall_score 21.5–30.6
2364 Tokyo University of Science
 overall_score 21.5–30.6
2367 University of Vigo
 overall_score 21.5–30.6
2370 Vilnius University
 overall_score 21.5–30.6
2373 Warsaw University of Technology
 overall_score 21.5–30.6
2376 Waseda University
 overall_score 21.5–30.6
2379 University of the West of England
 overall_score 21.5–30.6
2382 University of the Western Cape
 overall_score 21.5–30.6
2385 University of Westminster
 overall_score 21.5–30.6
2388 University of Windsor
 overall_score 21.5–30.6
2391 Yeungnam University
 overall_score 21.5–30.6
2394 Yokohama City University
 overall_score 21.5–30.6
2397 University of Zaragoza
 overall_score 21.5–30.6
2400 University of A Coruña
 overall_score 15.6–21.4
2403 Adam Mickiewicz University
 overall_score 15.6–21.4
2406 University of Agriculture, Faisalabad
 overall_score 15.6–21.4
2409 Ain Shams University
 overall_score 15.6–21.4
2412 Ajou University
 overall_score 15.6–21.4
2415 Akdeniz University
 overall_score 15.6–21.4
2418 Alexandria University
 overall_score 15.6–21.4
2421 Alexandru Ioan Cuza University
 overall_score 15.6–21.4
2424 University of Alicante
 overall_score 15.6–21.4
2427 University of Almería
 overall_score 15.6–21.4
2430 Amrita Vishwa Vidyapeetham
 overall_score 15.6–21.4
2433 Andhra University
 overall_score 15.6–21.4
2436 Andrés Bello University (UNAB)
 overall_score 15.6–21.4
2439 Annamalai University
 overall_score 15.6–21.4
2442 University of Antioquia
 overall_score 15.6–21.4
2445 Asia University, Taiwan
 overall_score 15.6–21.4
2448 Assiut University
 overall_score 15.6–21.4
2451 Austral University of Chile
 overall_score 15.6–21.4
2454 Bandung Institute of Technology (ITB)
 overall_score 15.6–21.4
2457 Bauman Moscow State Technical University
 overall_score 15.6–21.4
2460 Beijing Jiaotong University
 overall_score 15.6–21.4
2463 Belarusian State University
 overall_score 15.6–21.4
2466 Birla Institute of Technology and Science, Pilani
 overall_score 15.6–21.4
2469 University of Brasília
 overall_score 15.6–21.4
2472 Brno University of Technology
 overall_score 15.6–21.4
2475 University of Bucharest
 overall_score 15.6–21.4
2478 Budapest University of Technology and Economics
 overall_score 15.6–21.4
2481 Cairo University
 overall_score 15.6–21.4
2484 University of Calcutta
 overall_score 15.6–21.4
2487 California Polytechnic State University, San Luis Obispo
 overall_score 15.6–21.4
2490 University of Castilla-La Mancha
 overall_score 15.6–21.4
2493 Catholic University of the North
 overall_score 15.6–21.4
2496 Central University of Venezuela
 overall_score 15.6–21.4
2499 University of Cergy-Pontoise
 overall_score 15.6–21.4
2502 Chiang Mai University
 overall_score 15.6–21.4
2505 China University of Mining and Technology
 overall_score 15.6–21.4
2508 China University of Petroleum, Beijing
 overall_score 15.6–21.4
2511 Chongqing University
 overall_score 15.6–21.4
2514 Chungnam National University
 overall_score 15.6–21.4
2517 Chung Yuan Christian University
 overall_score 15.6–21.4
2520 Chuo University
 overall_score 15.6–21.4
2523 Cochin University of Science and Technology
 overall_score 15.6–21.4
2526 University of Colombo
 overall_score 15.6–21.4
2529 University of Concepción
 overall_score 15.6–21.4
2532 Corvinus University of Budapest
 overall_score 15.6–21.4
2535 University of Costa Rica
 overall_score 15.6–21.4
2538 Czech University of Life Sciences Prague (CULS)
 overall_score 15.6–21.4
2541 University of Debrecen
 overall_score 15.6–21.4
2544 Del Rosario University
 overall_score 15.6–21.4
2547 University of Derby
 overall_score 15.6–21.4
2550 Ehime University
 overall_score 15.6–21.4
2553 The University of Electro-Communications
 overall_score 15.6–21.4
2556 University of Electronic Science and Technology of China
 overall_score 15.6–21.4
2559 Erciyes University
 overall_score 15.6–21.4
2562 Federal University of Ceará (UFC)
 overall_score 15.6–21.4
2565 Federal University of Pelotas
 overall_score 15.6–21.4
2568 Federal University of Pernambuco
 overall_score 15.6–21.4
2571 Federal University of Rio Grande do Norte (UFRN)
 overall_score 15.6–21.4
2574 Federal University of Santa Catarina
 overall_score 15.6–21.4
2577 Federal University of São Carlos
 overall_score 15.6–21.4
2580 Feng Chia University
 overall_score 15.6–21.4
2583 Ferdowsi University of Mashhad
 overall_score 15.6–21.4
2586 University of La Frontera
 overall_score 15.6–21.4
2589 Fu Jen Catholic University
 overall_score 15.6–21.4
2592 Universitas Gadjah Mada
 overall_score 15.6–21.4
2595 Gdańsk University of Technology
 overall_score 15.6–21.4
2598 University of Ghana
 overall_score 15.6–21.4
2601 Gifu University
 overall_score 15.6–21.4
2604 Grigore T. Popa University of Medicine and Pharmacy
 overall_score 15.6–21.4
2607 University of Guilan
 overall_score 15.6–21.4
2610 Hallym University
 overall_score 15.6–21.4
2613 Hamamatsu University School of Medicine
 overall_score 15.6–21.4
2616 Hosei University
 overall_score 15.6–21.4
2619 Huaqiao University
 overall_score 15.6–21.4
2622 University of Ibadan
 overall_score 15.6–21.4
2625 Imam Abdulrahman Bin Faisal University
 overall_score 15.6–21.4
2628 University of Indonesia
 overall_score 15.6–21.4
2631 University of Isfahan
 overall_score 15.6–21.4
2634 I-Shou University
 overall_score 15.6–21.4
2637 Istanbul University
 overall_score 15.6–21.4
2640 Iwate University
 overall_score 15.6–21.4
2643 Izmir Institute of Technology
 overall_score 15.6–21.4
2646 Jamia Millia Islamia
 overall_score 15.6–21.4
2649 Jiangsu University
 overall_score 15.6–21.4
2652 Jikei University School of Medicine
 overall_score 15.6–21.4
2655 Jinan University
 overall_score 15.6–21.4
2658 University of Jordan
 overall_score 15.6–21.4
2661 Kagoshima University
 overall_score 15.6–21.4
2664 Kansai Medical University
 overall_score 15.6–21.4
2667 Kasetsart University
 overall_score 15.6–21.4
2670 University of Kerala
 overall_score 15.6–21.4
2673 Khon Kaen University
 overall_score 15.6–21.4
2676 Kindai University
 overall_score 15.6–21.4
2679 King Mongkut’s Institute of Technology Ladkrabang
 overall_score 15.6–21.4
2682 Kitasato University
 overall_score 15.6–21.4
2685 Kyoto Institute of Technology
 overall_score 15.6–21.4
2688 Kyushu Institute of Technology (Kyutech)
 overall_score 15.6–21.4
2691 University of Latvia
 overall_score 15.6–21.4
2694 Lobachevsky State University of Nizhni Novgorod
 overall_score 15.6–21.4
2697 London South Bank University
 overall_score 15.6–21.4
2700 Mansoura University
 overall_score 15.6–21.4
2703 Marmara University
 overall_score 15.6–21.4
2706 University of Marrakech Cadi Ayyad
 overall_score 15.6–21.4
2709 Meiji University
 overall_score 15.6–21.4
2712 Metropolitan Autonomous University
 overall_score 15.6–21.4
2715 Mie University
 overall_score 15.6–21.4
2718 University of Miyazaki
 overall_score 15.6–21.4
2721 Mohammed V University of Rabat
 overall_score 15.6–21.4
2724 Nagaoka University of Technology
 overall_score 15.6–21.4
2727 Nagasaki University
 overall_score 15.6–21.4
2730 Nagoya Institute of Technology
 overall_score 15.6–21.4
2733 University of Nairobi
 overall_score 15.6–21.4
2736 Nara Medical University
 overall_score 15.6–21.4
2739 National Chung Cheng University
 overall_score 15.6–21.4
2742 National University of Colombia
 overall_score 15.6–21.4
2745 National University of Córdoba
 overall_score 15.6–21.4
2748 National Dong Hwa University
 overall_score 15.6–21.4
2751 National Research Saratov State University
 overall_score 15.6–21.4
2754 National University of Tainan
 overall_score 15.6–21.4
2757 National Taipei University
 overall_score 15.6–21.4
2760 National Taipei University of Technology
 overall_score 15.6–21.4
2763 National Taiwan Ocean University
 overall_score 15.6–21.4
2766 Nicolaus Copernicus University in Toruń
 overall_score 15.6–21.4
2769 Niigata University
 overall_score 15.6–21.4
2772 Northeastern University
 overall_score 15.6–21.4
2775 Northwest University
 overall_score 15.6–21.4
2778 NorthWest A&F University
 overall_score 15.6–21.4
2781 Novosibirsk State Technical University
 overall_score 15.6–21.4
2784 Oakland University
 overall_score 15.6–21.4
2787 Ocean University of China
 overall_score 15.6–21.4
2790 Osaka Prefecture University
 overall_score 15.6–21.4
2793 Osmania University
 overall_score 15.6–21.4
2796 University of Ostrava

 overall_score 15.6–21.4
2799 University of Pardubice
 overall_score 15.6–21.4
2802 Paris Nanterre University
 overall_score 15.6–21.4
2805 Pondicherry University
 overall_score 15.6–21.4
2808 Pontifical Catholic University of Paraná
 overall_score 15.6–21.4
2811 Pontifical Catholic University of Rio Grande do Sul (PUCRS)
 overall_score 15.6–21.4
2814 Pontifical Catholic University of Valparaíso
 overall_score 15.6–21.4
2817 Prince of Songkla University
 overall_score 15.6–21.4
2820 Riga Technical University
 overall_score 15.6–21.4
2823 Rio de Janeiro State University (UERJ)
 overall_score 15.6–21.4
2826 Ritsumeikan University
 overall_score 15.6–21.4
2829 Robert Gordon University
 overall_score 15.6–21.4
2832 Saga University
 overall_score 15.6–21.4
2835 Saitama University
 overall_score 15.6–21.4
2838 Saitama Medical University
 overall_score 15.6–21.4
2841 University of Santiago, Chile (USACH)
 overall_score 15.6–21.4
2844 Seoul National University of Science and Technology (SeoulTech)
 overall_score 15.6–21.4
2847 Shaanxi Normal University
 overall_score 15.6–21.4
2850 Shahid Beheshti University
 overall_score 15.6–21.4
2853 University of Sharjah
 overall_score 15.6–21.4
2856 Sheffield Hallam University
 overall_score 15.6–21.4
2859 Shiga University of Medical Science
 overall_score 15.6–21.4
2862 Shimane University
 overall_score 15.6–21.4
2865 Shinshu University
 overall_score 15.6–21.4
2868 Shiraz University
 overall_score 15.6–21.4
2871 Shizuoka University
 overall_score 15.6–21.4
2874 Showa University
 overall_score 15.6–21.4
2877 University of Silesia in Katowice
 overall_score 15.6–21.4
2880 Simón Bolívar University
 overall_score 15.6–21.4
2883 Slovak University of Technology in Bratislava
 overall_score 15.6–21.4
2886 Sophia University
 overall_score 15.6–21.4
2889 University of South Africa
 overall_score 15.6–21.4
2892 Southern Federal University
 overall_score 15.6–21.4
2895 University of Southern Mississippi
 overall_score 15.6–21.4
2898 South Valley University
 overall_score 15.6–21.4
2901 Sri Venkateswara University
 overall_score 15.6–21.4
2904 State University of Ponta Grossa
 overall_score 15.6–21.4
2907 Suez Canal University
 overall_score 15.6–21.4
2910 Sultan Qaboos University
 overall_score 15.6–21.4
2913 University of Talca
 overall_score 15.6–21.4
2916 Taras Shevchenko National University of Kyiv
 overall_score 15.6–21.4
2919 Technical University of Košice
 overall_score 15.6–21.4
2922 Universiti Tenaga Nasional (UNITEN)
 overall_score 15.6–21.4
2925 Texas State University
 overall_score 15.6–21.4
2928 Thapar University
 overall_score 15.6–21.4
2931 University of Tlemcen
 overall_score 15.6–21.4
2934 TOBB University of Economics and Technology
 overall_score 15.6–21.4
2937 Tokai University
 overall_score 15.6–21.4
2940 Tokushima University
 overall_score 15.6–21.4
2943 Tokyo University of Marine Science and Technology
 overall_score 15.6–21.4
2946 Tomas Bata University in Zlín
 overall_score 15.6–21.4
2949 University of Toyama
 overall_score 15.6–21.4
2952 Toyohashi University of Technology (TUT)
 overall_score 15.6–21.4
2955 University of Valparaíso
 overall_score 15.6–21.4
2958 VIT University
 overall_score 15.6–21.4
2961 VŠB - Technical University of Ostrava
 overall_score 15.6–21.4
2964 University of West Bohemia
 overall_score 15.6–21.4
2967 West University of Timişoara
 overall_score 15.6–21.4
2970 University of Wrocław
 overall_score 15.6–21.4
2973 Wuhan University of Technology
 overall_score 15.6–21.4
2976 Xiangtan University
 overall_score 15.6–21.4
2979 Xidian University
 overall_score 15.6–21.4
2982 Yamagata University
 overall_score 15.6–21.4
2985 Yamaguchi University
 overall_score 15.6–21.4
2988 University of Yamanashi
 overall_score 15.6–21.4
2991 Yıldız Technical University
 overall_score 15.6–21.4
2994 Yokohama National University
 overall_score 15.6–21.4
2997 Yuan Ze University
 overall_score 15.6–21.4
3000 University of Zagreb
 overall_score 15.6–21.4
3003 Akita University
 overall_score 9.2–15.5
3006 Alzahra University
 overall_score 9.2–15.5
3009 Amity University
 overall_score 9.2–15.5
3012 Anadolu University
 overall_score 9.2–15.5
3015 University of the Andes, Venezuela
 overall_score 9.2–15.5
3018 Ankara University
 overall_score 9.2–15.5
3021 Autonomous University of Baja California
 overall_score 9.2–15.5
3024 Autonomous University of Hidalgo State (UAEH)
 overall_score 9.2–15.5
3027 Autonomous University of Nuevo León
 overall_score 9.2–15.5
3030 Autonomous University of Puebla
 overall_score 9.2–15.5
3033 Autonomous University of the State of Mexico
 overall_score 9.2–15.5
3036 Autonomous University of Yucatán
 overall_score 9.2–15.5
3039 Bahauddin Zakariya University
 overall_score 9.2–15.5
3042 University of Birjand
 overall_score 9.2–15.5
3045 Bogor Agricultural University
 overall_score 9.2–15.5
3048 Chaoyang University of Technology
 overall_score 9.2–15.5
3051 Chiba Institute of Technology
 overall_score 9.2–15.5
3054 University of Dhaka
 overall_score 9.2–15.5
3057 Dokuz Eylül University
 overall_score 9.2–15.5
3060 Doshisha University
 overall_score 9.2–15.5
3063 Far Eastern Federal University
 overall_score 9.2–15.5
3066 Federal University of Goiás
 overall_score 9.2–15.5
3069 Federal University of Lavras
 overall_score 9.2–15.5
3072 Federal University of Ouro Preto
 overall_score 9.2–15.5
3075 Federal University of Paraná (UFPR)
 overall_score 9.2–15.5
3078 Federal University of Santa Maria
 overall_score 9.2–15.5
3081 Federal University of Viçosa
 overall_score 9.2–15.5
3084 Fluminense Federal University
 overall_score 9.2–15.5
3087 University of Fukui
 overall_score 9.2–15.5
3090 Gazi University
 overall_score 9.2–15.5
3093 G.B. Pant University of Agriculture & Technology, Pantnagar
 overall_score 9.2–15.5
3096 University of Gdańsk
 overall_score 9.2–15.5
3099 GITAM University
 overall_score 9.2–15.5
3102 Government College University Lahore
 overall_score 9.2–15.5
3105 University of Guadalajara
 overall_score 9.2–15.5
3108 Guangxi University
 overall_score 9.2–15.5
3111 Hashemite University
 overall_score 9.2–15.5
3114 University of Hyogo
 overall_score 9.2–15.5
3117 Ibaraki University
 overall_score 9.2–15.5
3120 Ivane Javakhishvili Tbilisi State University
 overall_score 9.2–15.5
3123 Ivan Franko National University of Lviv
 overall_score 9.2–15.5
3126 Jawaharlal Nehru Technological University Anantapur (JNTUA)
 overall_score 9.2–15.5
3129 Kanagawa University
 overall_score 9.2–15.5
3132 Kansai University
 overall_score 9.2–15.5
3135 Kaunas University of Technology
 overall_score 9.2–15.5
3138 King Mongkut's University of Technology North Bangkok
 overall_score 9.2–15.5
3141 Kogakuin University
 overall_score 9.2–15.5
3144 Kwansei Gakuin University
 overall_score 9.2–15.5
3147 University of Lahore
 overall_score 9.2–15.5
3150 University of Łódź
 overall_score 9.2–15.5
3153 Łodz University of Technology
 overall_score 9.2–15.5
3156 Londrina State University
 overall_score 9.2–15.5
3159 Lviv Polytechnic National University
 overall_score 9.2–15.5
3162 Maharaja Sayajirao University of Baroda
 overall_score 9.2–15.5
3165 Manipal University
 overall_score 9.2–15.5
3168 Meijo University
 overall_score 9.2–15.5
3171 Ming Chuan University
 overall_score 9.2–15.5
3174 University of Monastir
 overall_score 9.2–15.5
3177 University of Mysore
 overall_score 9.2–15.5
3180 National Chiayi University
 overall_score 9.2–15.5
3183 National University of Kaohsiung
 overall_score 9.2–15.5
3186 National Polytechnic University (IPN)
 overall_score 9.2–15.5
3189 National Research University of Electronic Technology (MIET)
 overall_score 9.2–15.5
3192 National Technical University of Ukraine – Kyiv Polytechnic Institute
 overall_score 9.2–15.5
3195 Oita University
 overall_score 9.2–15.5
3198 Ondokuz Mayis University
 overall_score 9.2–15.5
3201 Perm State University
 overall_score 9.2–15.5
3204 University of Peshawar
 overall_score 9.2–15.5
3207 PMAS Arid Agriculture University Rawalpindi
 overall_score 9.2–15.5
3210 PSG College of Technology
 overall_score 9.2–15.5
3213 RUDN University
 overall_score 9.2–15.5
3216 SASTRA University
 overall_score 9.2–15.5
3219 Sathyabama University
 overall_score 9.2–15.5
3222 Sechenov University
 overall_score 9.2–15.5
3225 Shanghai Maritime University
 overall_score 9.2–15.5
3228 Shibaura Institute of Technology Tokyo
 overall_score 9.2–15.5
3231 Siberian Federal University
 overall_score 9.2–15.5
3234 Sidi Mohamed Ben Abdellah University
 overall_score 9.2–15.5
3237 University of the Sinos Valley
 overall_score 9.2–15.5
3240 Sofia University
 overall_score 9.2–15.5
3243 Southwest Jiaotong University
 overall_score 9.2–15.5
3246 SRM University
 overall_score 9.2–15.5
3249 State University of Maringá
 overall_score 9.2–15.5
3252 State University of Western Paraná (Unioeste)
 overall_score 9.2–15.5
3255 Tamil Nadu Agricultural University
 overall_score 9.2–15.5
3258 Tamkang University
 overall_score 9.2–15.5
3261 Technical University of Liberec
 overall_score 9.2–15.5
3264 Tokyo City University
 overall_score 9.2–15.5
3267 Tokyo Denki University
 overall_score 9.2–15.5
3270 Tottori University
 overall_score 9.2–15.5
3273 Toyo University
 overall_score 9.2–15.5
3276 University of Tunis El Manar
 overall_score 9.2–15.5
3279 Ural Federal University
 overall_score 9.2–15.5
3282 Universiti Utara Malaysia
 overall_score 9.2–15.5
3285 Utsunomiya University
 overall_score 9.2–15.5
3288 University of Veterinary and Animal Sciences, Lahore
 overall_score 9.2–15.5
3291 V.N. Karazin Kharkiv National University
 overall_score 9.2–15.5
3294 Volgograd State Technical University
 overall_score 9.2–15.5
3297 Voronezh State University
 overall_score 9.2–15.5
3300 Yazd University
 overall_score 9.2–15.5
3303 Yeditepe University
 overall_score 9.2–15.5
3306 University of Zanjan
 overall_score 9.2–15.5

Cleaning up the rankings
-----------------------

Some cleanup is required to make use of the ranking properly. Best done by setting up a new attribute using the equal rank for both/all of those where that is the case and the lower rank where a range is given.

In [10]:
for u in thes:
    u['int_rank'] = u['rank'].lstrip('=')
    if '–' in u['rank']:
        u['int_rank'] = u['int_rank'].split('–')[1]
    if u['int_rank'] == '1001+':
        u['int_rank'] = 1103
    u['int_rank'] = int(u['int_rank'])

In [11]:
unique_rankings = set()
for uni in thes:
    unique_rankings.add(uni['int_rank'])
unique_rankings = list(unique_rankings)
unique_rankings.sort()
unique_rankings

[1,
 2,
 3,
 5,
 6,
 7,
 8,
 9,
 10,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 24,
 25,
 27,
 30,
 31,
 32,
 33,
 34,
 36,
 37,
 38,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 52,
 53,
 54,
 56,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 72,
 74,
 76,
 77,
 78,
 79,
 80,
 82,
 83,
 85,
 86,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 98,
 99,
 100,
 103,
 104,
 105,
 107,
 108,
 109,
 111,
 113,
 115,
 116,
 117,
 119,
 121,
 122,
 123,
 125,
 126,
 129,
 130,
 132,
 133,
 134,
 136,
 137,
 139,
 140,
 141,
 143,
 145,
 146,
 147,
 150,
 152,
 153,
 155,
 158,
 159,
 161,
 162,
 165,
 168,
 169,
 171,
 172,
 173,
 175,
 177,
 179,
 181,
 182,
 184,
 185,
 186,
 187,
 188,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 250,
 300,
 350,
 400,
 500,
 600,
 800,
 1000,
 1103]

In [12]:
unique_countries = set()
for uni in thes:
    unique_countries.add(uni['country'])
unique_countries = list(unique_countries)
unique_countries.sort()

In [13]:
country_counts = []
for country in unique_countries:
    country_counts.append((country, len([u for u in thes if u['country'] == country])))
country_counts

[('Algeria', 1),
 ('Argentina', 1),
 ('Australia', 35),
 ('Austria', 8),
 ('Bangladesh', 1),
 ('Belarus', 1),
 ('Belgium', 8),
 ('Brazil', 32),
 ('Bulgaria', 1),
 ('Canada', 26),
 ('Chile', 13),
 ('China', 63),
 ('Colombia', 5),
 ('Costa Rica', 1),
 ('Croatia', 2),
 ('Cyprus', 2),
 ('Czech Republic', 13),
 ('Denmark', 7),
 ('Egypt', 9),
 ('Estonia', 2),
 ('Finland', 9),
 ('France', 31),
 ('Georgia', 1),
 ('Germany', 44),
 ('Ghana', 1),
 ('Greece', 7),
 ('Hong Kong', 6),
 ('Hungary', 7),
 ('Iceland', 2),
 ('India', 42),
 ('Indonesia', 4),
 ('Iran', 18),
 ('Ireland', 9),
 ('Israel', 6),
 ('Italy', 40),
 ('Japan', 89),
 ('Jordan', 3),
 ('Kenya', 1),
 ('Kuwait', 1),
 ('Latvia', 2),
 ('Lebanon', 1),
 ('Lithuania', 2),
 ('Luxembourg', 1),
 ('Macao', 1),
 ('Malaysia', 9),
 ('Mexico', 11),
 ('Morocco', 3),
 ('Netherlands', 13),
 ('New Zealand', 8),
 ('Nigeria', 1),
 ('Northern Cyprus', 1),
 ('Norway', 5),
 ('Oman', 1),
 ('Pakistan', 10),
 ('Peru', 1),
 ('Philippines', 1),
 ('Poland', 12),
 ('Portugal', 9),
 ('Qatar', 1),
 ('Romania', 5),
 ('Russian Federation', 27),
 ('Saudi Arabia', 5),
 ('Singapore', 2),
 ('Slovakia', 3),
 ('Slovenia', 2),
 ('South Africa', 8),
 ('South Korea', 27),
 ('Spain', 29),
 ('Sri Lanka', 1),
 ('Sweden', 11),
 ('Switzerland', 10),
 ('Taiwan', 31),
 ('Thailand', 10),
 ('Tunisia', 2),
 ('Turkey', 22),
 ('Uganda', 1),
 ('Ukraine', 5),
 ('United Arab Emirates', 4),
 ('United Kingdom', 93),
 ('United States', 157),
 ('Venezuela', 3)]

Attempting to analyse by region
-----------------------------

We load the countries.json file from https://github.com/mledoze/countries and aim to normalise by country and determine a sub-region for each university for analysis. The subregions are the roughly right level of granularity for this analysis.

In [14]:
import json
with open(os.path.join(input_data_folder,'countries.json')) as f:
    countries = json.load(f)

In [15]:
country_lookup = {}
for i, country in enumerate(countries):
    country_lookup[country['name']['common']] = i
    country_lookup[country['name']['official']] = i

Identify those cases where we don't have a matching country to the standard set

In [16]:
for uni in thes:
    try:
        country_lookup[uni['country']]
    except KeyError:
        print(uni['name'], uni['country'])

University of Macau Macao
Eastern Mediterranean University Northern Cyprus

These two universities show countries that are not in our normalised data set. One appears to be due to a differing spelling of Macau and the other is a political issue as to the status of Northern Cyprus. The spelling is easily fixed. For the purpose of this analysis we will treat Northern and Southern Cyprus as the one country.

In [17]:
country_lookup.get('Macau')

137

In [18]:
country_lookup['Macao'] = 137

In [19]:
country_lookup.get('Cyprus')

58

In [20]:
country_lookup['Northern Cyprus'] = 58

In [21]:
for uni in thes:
    i = country_lookup[uni['country']]
    uni['country_code'] = countries[i].get('cca2')
    uni['region'] = countries[i].get('region')
    uni['subregion'] = countries[i].get('subregion')

Creating a set of groups based on the ranking and creating a new heading for these. Moderately arbitrary grouping into 0-10, 11-50, 51-100, 101-200, 201-500, 1000-

In [33]:
for uni in thes:
    if uni['int_rank'] <=15:
        uni['rank_group'] = '0001-15'
    if uni['int_rank'] <=50 and uni['int_rank'] > 15:
        uni['rank_group'] = '0016-50'
    if uni['int_rank'] <=100 and uni['int_rank'] > 50:
        uni['rank_group'] = '0051-100'
    if uni['int_rank'] <=200 and uni['int_rank'] > 100:
        uni['rank_group'] = '0101-200'
    if uni['int_rank'] <=500 and uni['int_rank'] > 200:
        uni['rank_group'] = '0201-500'
    if uni['int_rank'] <=1000 and uni['int_rank'] > 500:
        uni['rank_group'] = '0501-1000'
    if uni['int_rank'] <=2000 and uni['int_rank'] > 1000:
        uni['rank_group'] = '1000+'

Will write out to a csv file for further manipulation and later normalisation to GRID ID's for each university, as well as to allow for sampling.

In [34]:
import csv
output_data_folder = 'data/output/'
with open(os.path.join(output_data_folder,'thes_2016_ranking.csv'), 'w', encoding = 'utf-8') as f:
    writer = csv.DictWriter(f, fieldnames=[f for f in iter(thes[0])])
    writer.writeheader()
    writer.writerows(thes)